/* layout */
.page{
    width: 960px;
    margin:30px auto 0;
    border: solid 1px #ccc;
    overflow: hidden;
}

.page .main{
    float:left;
    width: 100%;
}

.page .main .content{
    margin-left: 320px;
    min-height: 500px;
    border-left: solid 1px #ccc;
}

.page .sidebar{
    width: 300px;
    float: left;
    margin-left: -100%;
}

/* drag sorter */    
.drag-sorter-placeholder{
    border: dashed 2px blue;
    height: 33px;
    width: 100%;
}

.question.drag-sorter-placeholder{
    height: 66px;
    border: dashed 2px green;
}

/* end for drap sorter */

.news_nav{

    padding:10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
}

.news_list .news,.news_list .top-story{
    padding:10px;
    border-bottom: dashed 1px #ddd;
}

.news_list .top-story .title{
    color: blue;
}

.news_list .column{
    display: inline-block;
    margin-right: 8px;
}

.news_list .status{
    border-radius: 10px;
    width: 20px;
    height: 20px;
    font-size: 0;
}

.news_list .public .status{
    background: green;
}

.news_list .pushed > a{
    color: green;
}


.news_list .hidden .status{
    background: gray;
}

.news_list .updated .status{
    background: yellow;
}

.news_list .hidden .title{
    color: #ccc;
}


/* news edit page */
.news_edit_page .field textarea,
.news_edit_page .field input[type="text"]
{
    width: 80%;
}


.news-questions .remove, .news-questions .edit{
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.news-questions .question h3, .news-questions .question ul{
    margin: 0;
}

.news-questions .question ul{
    margin-left: 30px;
}


.question-list .hidden{
    color: #ccc;
}



.image-cropper{
    margin-bottom:20px;
}

.image-cropper-preivew{
    overflow: hidden;
    margin: 15px 0;
}

.image-cropper-preview-image{
    display: inline;
    border: 0;
    max-width: none;
}









