{{ render_page_header }}

<div class="container-fluid" id="news-list-page">
    <div class="row-fluid">
        {{ render_sidebar }}
        <div class="span10">
            <div class="news_nav">
                当前：{{ current_date }}， 
                <a href="{{ link_for_previous_day }}">&lt;&lt;前一天</a> | 
                <a href="{{ link_for_next_day }}">后 一天&gt;&gt;</a>
                ，输入日期：<form style="display: inline"><input style="width:120px" placeholder="eg. 2013-04-20"/><input type="button" value="转到" /></form>
            </div>
            <ol class="news_list" id="news-list">
                {% for item in news %}
                
                {% if item.is_topstory %}
                {% set item_class = 'top-story' %}
                {% else %}
                {% set item_class = 'news' %}
                {% endif %}
                
                {% if item.status == 'public' %}
                {% set item_class = item_class + ' public' %}
                {% elif item.status == 'hidden' %}
                {% set item_class = item_class + ' hidden' %}
                {% elif item.status == 'updated' %}
                {% set item_class = item_class + ' updated' %}
                {% endif %}
                
                <li class="{{ item_class }}" data-itemid="{{ item.id }}">

                    <!-- {{ item.id }} -->
                    <span class="column status"></span>
                    
                    <span class="column edit"><a href="/news/{{ item.id }}/edit">Edit</a></span>

                    <span class="column edit"><a href="/news/{{ item.id }}/q_and_a">QAndA</a></span>

                    <span class="column edit"><a href="javascript:;" data-action="remove">Remove</a></span>
                    
                    <span class="column edit"><a href="javascript:;" data-action="visibility">Visibility</a></span>
                    
                    <span class="column title"> 这是第一条新闻 {{ item.title }} </title>
                </li>
                {% endfor %}
            </ol>
            
            <div class="form-actions">
              <button type="submit" class="btn btn-primary save-change" id="btn-save" data-url="{{ url_for_save_change }}">保存修改，但不发布</button>
              <button type="submit" class="btn btn-success save-change" id="btn-save-and-publish" data-url="{{ url_for_publish }}">保存修改，同时发布</button>
            </div>
            
        </div>
    </div>
    
    
</div>
{{ render_page_footer }}