{{ render_page_header }}

<div class="container-fluid">
    <div class="row-fluid">
        {{ render_sidebar }}
        <div class="span10">
            <h3>修改新闻问题</h3>
            <p>新闻标题：</p>
            <form action="">
                <p>
                    <input type="text" style="width: 300px" name="title" value="" />
                </p>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary save-change">保存修改</button>
                </div>
                
            </form>

            
        </div>
    </div>
    
    
</div>
{{ render_page_footer }}