{{ render_page_header }}

<div class="container-fluid">
    <div class="row-fluid">
        {{ render_sidebar }}
        <div class="span10">
            <h3>修改新闻问题</h3>
            <p>新闻标题：</p>
            <form action="" method="POST">
                <fieldset>
                    
                <label>原文链接</label>
                <input type="text" class="input-xxlarge" name="origin_resource" value="{{question.origin_resource}}" />
                
                <label>标题(<span id="count-title"></span>)</label>
                <input type="text" id="title" class="input-xxlarge" name="title" value="{{question.title}}" />
                </fieldset>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary save-change">保存修改</button>
                </div>
                
            </form>

            
        </div>
    </div>
    
    
</div>

<script>

$(function(){
    new CharactorCounter($('#title'), $('#count-title'));
});
</script>

{{ render_page_footer }}