{{ render_page_header }}

<div class="container-fluid">
    <div class="row-fluid">
        {{ render_sidebar }}
        <div class="span10">
            <form method="POST">
                <h3>启动画面</h3>
                <fieldset>
                    
                <label>图片地址</label>
                <input type="text" class="input-xxlarge startup-image" name="startup_image" value="{{startup_image}}" />
                
                </fieldset>
                <div class="form-actions">
                  <button type="button" class="btn" id="clear-all">清除所有</button>
                  <button type="submit" class="btn btn-primary" >保存</button>
                  
                </div>
            </form>
        </div>
    </div>
    
    
</div>

<script>
    $(function(){
        $('#clear-all').on('click', function(){
            $('.startup-image').val('');
            return false;
        });
    });
</script>
{{ render_page_footer }}